
/* CSS Style Reset */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Element Styling */

:root {
    --green-accent: #74992E;
    --wood-accent: #661100;
    --gray-accent: whitesmoke;
}

body {
    background-color: white;
    color: black;
    font-family: Garamond;
    font-size: 16px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    height: 100vh;
}

#page-header {
    color: var(--green-accent);
    font-weight: bold;
    font-size: 2.5rem;
}

#grid-container {
    display: grid;
    grid-template: minmax(200px, 1fr) / repeat(auto-fit, minmax(150px, 1fr));
    grid-auto-rows: minmax(250px, 1fr);

    width: clamp(150px, 60%, 900px);
    border: 0.25rem solid var(--wood-accent);
    border-radius: 5px;
    padding: 0.5rem;
    gap: 0.5rem;
}

#grid-container .book-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;

    background-color: var(--gray-accent);
    padding: 0.5rem;
    box-shadow: 1px 1px 1px gray;
    border: 1px solid black;
    border-radius: 5px;
}

#grid-container .book-container > * {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#grid-container .book-container label {
    padding: 0.5rem 0;
    border-radius: 5px;
}

#grid-container .book-container label:hover {
    cursor: pointer;
}

#grid-container .book-container label:has(input:checked) {
    background-color: var(--green-accent);
    transition: 0.5s;
}

#grid-container .book-container label:has(input:not(:checked)) {
    background-color: red;
    transition: 0.5s;
}

#grid-container .book-container input {
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0;
    margin: 0;
}

#grid-container .book-container button {
    padding: 0.5rem 0;
    border: 1px solid red;
    border-radius: 5px;
}

#grid-container .book-container button:hover {
    background-color: red;
    cursor: pointer;
    transition: ease-in-out .5s;
}

/* ADD BOOK BUTTON */

#add-book-button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;

    font-size: 1.25rem;
    padding: 0.5rem 2rem;
    background-color: white;
    border: 2px solid var(--green-accent);
    border-radius: 999px;
}

#add-book-button:focus {
    outline: none;
}

#add-book-button:hover {
    color: white;
    background-color: var(--green-accent);
    cursor: pointer;
    transition: 0.5s;
}

#add-book-button > span {
    font-size: 2rem;
}

/* DIALOG / FORM STYLING */

dialog {
    background-color: whitesmoke;
    padding: 0px;
    border: 0px;
    border-radius: 5px;
}

dialog, #submit-button {
    font-weight: bold;
}

#book-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;

    width: 25vh;
    height: 35vh;
    padding: 1rem;
} 

#book-form input {
    padding: 0.5rem 0.25rem;
    border: 1px solid white;
    border-radius: 5px;
}

#book-form input::placeholder {
    color: gray;
    font-size: 13.33px;
}

#book-form input:focus {
    outline: 0px;
    border: 1px solid blue;
}

#book-form #form-header {
    font-size: 1.25rem;
}

#book-form .form-row {
    display: flex;
    justify-content: center;
    align-items: center;
}

#book-form #have-read {
    accent-color: var(--green-accent);
    margin: 0 0 0 5px;
}

#book-form #submit-button {
    background-color: var(--green-accent);
    border: 0px;
    border-radius: 5px;
    padding: 1rem 2rem;
} 