
body {
    background-color: white;
    color: black;
    font-family: Garamond;
    font-size: 12px;
    margin: 0;
}

#screen_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100vw;
    height: 100vh;
}

#title_container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 60vh;
    margin-bottom: 2.5vh;
}

#title {
    color: green;
    font-weight: bold;
    font-size: 36px;
}

#add_button {
    padding: 3px 18px;
    background-color: white;
    border: 2px solid green;
    border-radius: 999px;
}

#add_button:hover {
    color: white;
    background-color: green;
    transition: 0.5s;
}

#grid_container {
    display: flex;
    flex-direction: column;
    align-items: stretch;

    background-color: #661100;
    width: 80vh;
    height: 80vh;
    padding: 4px;
    gap: 4px;
}

#column_headers {
    display: flex;
    gap: 4px;

    background-color: #661100;
    flex: 1 1 0;
}

#column_headers div {
    background-color: white;
    font-weight: bold;

    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1 0;
}

/* FORM STYLING */

dialog {
    background-color: whitesmoke;
    padding: 0px;
    border: 0px;
    border-radius: 10px;
}

dialog, #submit_button {
    font-size: 16px;
    font-weight: bold;
}

#book_form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;

    width: 25vh;
    height: 35vh;
    padding: 2vw;
} 

#book_form input {
    padding: 1vh 0.5vw;
    border: 0px;
    border-radius: 5px;
}

#book_form input::placeholder {
    color: gray;
    font-size: 13.33px;
}

#book_form input:focus {
    outline: 0px;
    border: 1px solid blue;
}

#form_header {
    font-size: 24px;
}

.form_row {
    display: flex;
    justify-content: center;
    align-items: center;
}

#have_read {
    accent-color: #74992E;
    margin: 0 0 0 5px;
}

#submit_button {
    background-color: #74992E;
    border: 0px;
    border-radius: 10px;
    padding: 2vh 4vw;
} 